.signInForm {
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 0px #00000026;
}

.artCreateFrom {
  width: 60%;
  text-align: center;
  padding: 2rem;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 0px #00000026;
}
