.like {
  font-size: 1.5rem;
  transition: transform 0.5s cubic-bezier(0.54, -1.26, 0.49, 1.94);
  box-shadow: 0;

  padding: 0;
  &__active {
    color: rgb(255, 0, 0);
  }
  &__hover {
    color: rgb(255, 0, 0);
  }
}

.containerArt {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 70%;
  margin-top: 20px;
  padding: 20px;
}

.contentArt {
  display: flex;

  h2 {
    color: rgb(59, 136, 244);
    margin-right: 10px;
    font-weight: 500;
  }
}

.tagArt {
  margin-bottom: 10px;
}

.person {
  display: flex;
  text-align: center;

  .avatar {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin-left: 10px;
  }
}
.personInfo {
  display: flex;
  flex-direction: column;
}
.personName {
  font-weight: 500;
}

.personDate {
  margin-top: 3px;
  opacity: 0.5;
}
